*{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.userinput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.userbuttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: aqua;
    padding: 5px;
    border-radius: 50px;
}
body{
    background-color: blue;
}
input{
    background-color:#eae3db ;
    width: 90%;
    border-radius: 50px;
    font-size: 17px;
}
button{
    background-color: chocolate ;
    width: 90%;
    border-radius: 50px;
    font-size: 15px;
    margin: 2px;
} 
h3{
    background-color: cyan;
    padding: 5px;
    border-radius: 50px;
    font-size: 25px;
    text-align: right;
}
.calc{
    max-width: 400px;
    margin: auto;
}
